body{
    background-color: beige;
}

h1{
    color:blue;
    font-size: 20;
    text-align: center;
}

.corpoDoTexto{
    color: blueviolet;
    font-size: 15;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}